<h1>Sign in</h1>

<%= form_for @session do |f| %>
	<%= f.label :email %>
	<%= f.text_field :email %>

	<%= f.label :password %>
	<%= f.password	:password %>

	<%= f.submit %>
<% end %>

<%= "You're in" if current_user %>
