
<dl class="tabs 4 columns" style="margin: 10px 0 -1px 0">
  <dd class="active"><a href="#recent">Recent Links</a></dd>
  <dd><a href="#popular">Popular Links</a></dd>
  <dd><a href="#user"><%= current_user ? "My Links" : "Sign in" %></a></dd>
</dl>

<ul class="tabs-content">
  <li class="active" id="recentTab"><%= render 'recent' %></li>
  <li id="popularTab"><%= render 'popular' %></li>
  <li id="userTab">
    <% if current_user %>
      <%= render 'signin' %>
    <% else %>
      <%= render 'user' %>
    <% end %>
  </li>
</ul>