<div>
	<div class="row" >
		<div class="seven columns">
			<%= render "table" %>
		</div>
		<div class="five columns push-six srl-box" >
				<%= render 'title' %>
					<%= form_tag("/urls", :method => "post") do %>
					  <%= text_field_tag :long_url, "http://www." %>
					  <%= submit_tag "Shorten", :class => "srl-button radius button"%>
					<% end %>
		</div>
	</div>
</div>