

<div class="row">
	<div class="six columns">
		<%= render "tabs" %>
	</div>
	<div class="five columns push-seven srl-box" >

		<%= render 'title' %>
		<%= form_for @url do |f| %>
		  <%= f.text_field :long_url, :placeholder => "Type a URL"  %>
		  <%= f.text_field :key, :placeholder => "Choose a custom short URL (optional)" %>
		  <%= submit_tag "Shorten", :class => "srl-button radius button"%>
		<% end %>
	</div>
</div>
