<!DOCTYPE html>
<html>
<head>
  <title>Short URL</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if flash[:error] -%>
		<%= render "/shared/error" -%>
	<% end %>
	<% if flash[:notice] -%>
		<%= render "/shared/notice" -%>
	<% end %>
	<% if flash[:message] -%>
		<%= render "/shared/message" -%>
	<% end %>
	

		<%= yield %>
	
</body>
</html>
